.wrapping-div {
  display: flex;
  align-items: center;
  border: 2px, solid, rgb(186, 186, 186);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
input[type="text"] {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="date"] {
  width: 150px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

div {
  width: 700px;
  margin: 20px auto;
  padding: 20px;
  // border: 2px, solid, rgb(186, 186, 186);
  border-radius: 5px;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.input {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 650px;
}

.completed-task {
  text-decoration: line-through;
  color: #888;
}

.Spinner {
  display: flex;
  justify-content: center;
}

//dark mode

/* Light Theme Variables */
:root {
  --bg-color: #f0f0f0;
  --text-color: #333;
  --primary-color: #007bff;
  --accent-color: #0056b3;
  --border-color: #ddd;
  --list-bg-color: #fff;
}

/* Dark Theme Variables */
.dark-mode {
  --bg-color: #333;
  --text-color: #f0f0f0;
  --primary-color: #64b5f6;
  --accent-color: #90caf9;
  --border-color: #555;
  --list-bg-color: #444;
}


