<div class="wrapping-div">
  <div class="input">
    <mat-form-field appearance="outline">
      <mat-label>Task</mat-label>
      <input matInput type="text" [(ngModel)]="newTask" placeholder="New task" (keydown.enter)="addTask()" />
    </mat-form-field>
  </div>
  <div class="">
    <mat-form-field appearance="outline">
      <mat-label>Due date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="newDueDate" />
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary" class="btn" (click)="addTask()">Add</button>
  </div>
</div>

<div class="task-list">
  <mat-list>
    @if(tasks?.length > 0 && isLoading === false) { @for(task of tasks; track task; let i = $index) {
    <mat-list-item>
      <!-- @for(task of tasks; track task; let i = $index) {
      <mat-checkbox [checked]="task.completed" (change)="toggleTask(i)"></mat-checkbox> -->
      <span>{{ task.task }}</span>
      @if(task.dueDate) {
      <span> (Due: {{ task.dueDate | date : "yyyy-MM-dd" }})</span>
      }
      <button mat-icon-button color="warn" class="btn" (click)="removeTask(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  }
}
      @if(isLoading === true){
    <div class="Spinner"><mat-spinner></mat-spinner></div>
    } @if(isLoading === false && tasks?.length <=0) {
    <span>No tasks</span>
    }
  </mat-list>
</div>
