 <app-header></app-header>

<mat-drawer-container class="drawer-container">
 
   <mat-drawer #drawer mode="side">
    <div class="drawer-content">
      <div class="drawer1">
        <button mat-button> <mat-list-item routerLink="/todo" (click)="drawer.close()">To-Do List</mat-list-item></button>
      </div>
      <div class="drawer2">
       <button mat-button> <mat-list-item routerLink="/calculator" (click)="drawer.close()">Calculator</mat-list-item> </button>
    </div>
    </div>
  </mat-drawer>
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-drawer-container>

<router-outlet></router-outlet>



