.app-container {
  min-height: 100%; // Makes the container at least the full height of the viewport
  transition: background-color 0.5s ease;
}

.mat-drawer-container {
  height: 100px;
}

.mat-drawer {
  margin-top: 10px;
  width: 200px;
}

.drawer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;

  > mat-list {
    width: 100%;
    display: flex;
  }
}
.custom-drawer-width {
  width: 800px;
}

.drawer1 button[mat-button],
.drawer2 button[mat-button],
.drawer3 button[mat-button],
.drawer4 button[mat-button],
.drawer5 button[mat-button] {
  width: 100%;
  text-align: left;
}

html,
body,
app-root {
  height: 100%;
}
body {
  margin-bottom: 0;
  margin-top: 0;
}

.drawer-container {
    display: flex;
    width: 100%;
    flex-basis: 100%;

    .inner-drawer{
        display: flex;
        flex-basis: 80%;
    }
  .icon-container {
      display: flex;
      flex-basis: 20%;
  }
}
