.Calculator {
  max-width: 300px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.display{
  color:black;
  font-size: larger;
  font-weight: 900;
}

button{
  padding: 18px;
  font-size: 1.3em;
  margin: 3px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.operator {
  background-color:rgb(39, 52, 195) ;
  color: #f8f9fa;
}

.clear {
  background-color: rgb(155, 156, 156);
}

.equals{
  background-color: rgb(155, 156, 156);
}