<div class="Calculator">
<div class="operator1">{{lastOperator}} </div>
<div class="minus"> </div>
  <div class="display">
    {{ currentInput }}
  </div>

  <div class="buttons">
    <div>
      <button (click)="inputDigit('7')">7</button>
      <button (click)="inputDigit('8')">8</button>
      <button (click)="inputDigit('9')">9</button>
      <button class="operator" (click)="handleOperator('/')">/</button> 
    </div>
    <div>
      <button (click)="inputDigit('4')">4</button>
      <button (click)="inputDigit('5')">5</button>
      <button (click)="inputDigit('6')">6</button>
      <button class="operator" (click)="handleOperator('*')">*</button>
    </div>
    <div>
      <button (click)="inputDigit('1')">1</button>
      <button (click)="inputDigit('2')">2</button>
      <button (click)="inputDigit('3')">3</button>
      <button class="operator" (click)="handleOperator('-')">-</button> 
    </div>
    <div>
      <button (click)="inputDigit('0')">0</button>
      
      <button class="equals" (click)="handleEquals()">=</button>
      <button class="operator" (click)="handleOperator('+')">+</button> 
    </div>
     <div>
       <button class="clear" (click)="clear()">C</button> 
      
     </div>
  </div>

</div>
