

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
// input[type=number] {
//   -moz-appearance: textfield;
// }






mat-form-field {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center; /* Vertically center content */
    height: 80px; /* Adjust height as needed */
    color: rgb(0, 0, 0);
  }


mat-label{
    color: rgb(0, 0, 0);
}

mat-calendar {
    background-color: rgb(157, 157, 157);
}

mat-list-item{
    color: rgb(0, 0, 0);

}
mat-checkbox {
    color:rgb(39, 52, 195) ;
}


.btn{
    background-color: rgb(39, 52, 195)!important;
    color: hsl(0, 0%, 100%) !important;
    padding: 8px 12px ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}


/* src/styles.scss */

html,
body {
  height: 100%; /* Ensures html and body take up full viewport height */
  margin: 0;     /* Removes default browser margins */
  font-family: Roboto, "Helvetica Neue", sans-serif; /* Standard Angular Material font stack */
}
f

app-root {
  display: block; /* Ensures app-root behaves like a block element for layout */
  height: 100%; /* Makes app-root take up full height of its parent (body) */
}